@font-face {
  font-family: "lato-black";
  src: url("../../fonts/lato/lato-black.woff2") format("woff2"), url("../../fonts/lato/lato-black.woff") format("woff"), url("../../fonts/lato/lato-black.ttf") format("ttf");
}

@font-face {
  font-family: "lato-bold";
  src: url("../../fonts/lato/lato-bold.woff2") format("woff2"), url("../../fonts/lato/lato-bold.woff") format("woff"), url("../../fonts/lato/lato-bold.ttf") format("ttf");
}

@font-face {
  font-family: "lemonmilk";
  src: url("../../fonts/lemonmilk/lemonmilk.woff2") format("woff2"), url("../../fonts/lemonmilk/lemonmilk.woff") format("woff"), url("../../fonts/lemonmilk/lemonmilk.otf") format("ttf");
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1 {
  margin: 0;
}

.headerContainer {
  max-width: 1445px;
  margin: 0 auto;
}

.buttonLink {
  padding: 16px 33px;
  border-radius: 50px;
  font: 700 21px/1.2 "lato-bold", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.025em;
}

.b-header {
  position: relative;
  height: 890px;
  background: url(../../../img/header/img01.jpg) no-repeat center;
  background-blend-mode: multiply;
  background-size: cover;
  color: #fff;
}

.b-header_disposition {
  padding: 34px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.b-header__logotype {
  font: 900 43px/1.1 "lato-black", sans-serif;
  letter-spacing: -0.025em;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  z-index: 5;
}

.b-header__mainNav {
  z-index: 5;
  text-transform: uppercase;
  font: 700 15px/1.2 "lato-bold", sans-serif;
  letter-spacing: 0.025em;
}

.b-header__mainNav_disposition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.b-header__navLink {
  color: inherit;
}

.b-header__navLink_fontAwesome {
  font-size: 20px;
}

.b-header__navLink_margin {
  padding-left: 32px;
}

.b-header__navLink:not(:last-child) {
  margin-right: 22px;
}

.b-header__title {
  position: absolute;
  top: 0;
  background-color: #bc2e3a;
  mix-blend-mode: multiply;
  color: #fff;
  width: 100%;
  height: 100%;
  font: 700 158px/0.9 "lemonmilk", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.075em;
  text-shadow: 8px 8px 10px #242424;
}

.b-header__title_decor {
  padding: 250px 0 0 0;
  display: block;
  width: 798px;
  text-align: center;
  margin-left: calc(35% - 400px);
}

.b-header__title_smaller {
  font-size: 96px;
  letter-spacing: 0.024em;
  line-height: 0.8;
  display: block;
}

.b-header_linkDecor {
  position: absolute;
  bottom: 20%;
  left: 30%;
  color: #242424;
  background-color: #fff;
  z-index: 5;
}

.b-header__image {
  position: absolute;
  bottom: -14%;
  right: 15%;
  margin-left: 30px;
  z-index: 5;
  height: 900px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  -webkit-filter: drop-shadow(8px 11px 62px #231f20cf);
          filter: drop-shadow(8px 11px 62px #231f20cf);
}
/*# sourceMappingURL=style.css.map */