@font-face {
  font-family: "lato-black";
  src: url("../../fonts/lato/lato-black.woff2") format("woff2"), url("../../fonts/lato/lato-black.woff") format("woff"), url("../../fonts/lato/lato-black.ttf") format("ttf");
}

@font-face {
  font-family: "lato-bold";
  src: url("../../fonts/lato/lato-bold.woff2") format("woff2"), url("../../fonts/lato/lato-bold.woff") format("woff"), url("../../fonts/lato/lato-bold.ttf") format("ttf");
}

@font-face {
  font-family: "lemonmilk";
  src: url("../../fonts/lemonmilk/lemonmilk.woff2") format("woff2"), url("../../fonts/lemonmilk/lemonmilk.woff") format("woff"), url("../../fonts/lemonmilk/lemonmilk.otf") format("otf");
}

@font-face {
  font-family: "peace sans";
  src: url("../../fonts/peace_sans/peace_sans.woff2") format("woff2"), url("../../fonts/peace_sans/peace_sans.woff") format("woff"), url("../../fonts/peace_sans/peace_sans.otf") format("otf");
}

@font-face {
  font-family: "open sans";
  src: url("../../fonts/open-sans/open-sans.woff2") format("woff2"), url("../../fonts/open-sans/open-sans.woff") format("woff"), url("../../fonts/open-sans/open-sans.otf") format("otf");
}

.buttonLink {
  padding: 16px 33px;
  border-radius: 50px;
  font: 700 21px/1.2 "lato-bold", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.025em;
}

.b-header__image, .b-whoWeAre__image, .b-howWeWorks__image {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center !important;
     object-position: center center !important;
}

.b-header_disposition, .b-header__mainNav_disposition, .b-whoWeAre_disposition, .b-whoWeAre__divContent_disposition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.b-whoWeAre::after, .b-whatWeDo::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

h1, h2, p {
  margin: 0;
}

li {
  list-style: none;
}

.headerContainer {
  max-width: 1440px;
  margin: 0 auto;
}

.mainContainer {
  max-width: 1228px;
  margin: 0 auto;
}

@media (max-width: 425px) {
  .buttonLink {
    padding: 12px 20px;
    font: 700 16px/1 "lato-bold", sans-serif;
  }
}

.sectionTitle {
  font: 400 62px/0.9 "peace sans", sans-serif;
  color: #494949;
}

@media (max-width: 425px) {
  .sectionTitle {
    font: 400 52px/0.9 "peace sans", sans-serif;
  }
}

.sectionText {
  font: 400 "open sans", sans-serif;
  font-size: 17px;
  line-height: 30px;
  color: #6a6a6a;
}

.navbar-light .navbar-toggler {
  color: inherit;
  border: none;
  font-size: 30px;
}

.navbar > .container,
.navbar > .container-fluid,
.navbar > .container-lg,
.navbar > .container-md,
.navbar > .container-sm,
.navbar > .container-xl,
.navbar > .container-xxl {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.container {
  padding: 0;
  min-width: 320px;
}

.b-header {
  position: relative;
  height: 890px;
  background: url(../../../img/header/img01.jpg) no-repeat center;
  background-blend-mode: multiply;
  background-size: cover;
  color: #fff;
}

@media (max-width: 425px) {
  .b-header {
    height: 800px;
  }
}

@media (max-width: 400px) {
  .b-header {
    height: 670px;
  }
}

.b-header_disposition {
  padding: 34px 0 0 0;
}

.b-header__logotype {
  font: 900 43px/1.1 "lato-black", sans-serif;
  letter-spacing: -0.025em;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  z-index: 5;
}

@media (max-width: 1440px) {
  .b-header__logotype {
    margin-left: 15px;
  }
}

.b-header__mainNav {
  z-index: 10;
  text-transform: uppercase;
  font: 700 15px/1.2 "lato-bold", sans-serif;
  letter-spacing: 0.025em;
}

@media (max-width: 991px) {
  .b-header__mainNav {
    position: absolute;
    right: 0;
  }
}

.b-header__mainNav_disposition {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (max-width: 991px) {
  .b-header__burgerMenu {
    padding: 15px 0;
    background-color: rgba(71, 70, 70, 0.685);
  }
}

.b-header__navLink {
  color: inherit !important;
  margin: 0 0 3px 6px;
}

@media (max-width: 991px) {
  .b-header__navLink {
    margin: 10px 0;
  }
}

.b-header__navLink_fontAwesome {
  font-size: 20px;
}

.b-header__navLink_fontAwesomeMargin {
  margin-left: 40px;
}

@media (max-width: 991px) {
  .b-header__navLink_fontAwesomeMargin {
    margin-left: 0;
  }
}

.b-header__navLink:hover {
  color: #979696 !important;
}

.b-header__navItem {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media (max-width: 991px) {
  .b-header__navItem {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.b-header__title {
  position: absolute;
  top: 0;
  background-color: #bc2e3a;
  mix-blend-mode: multiply;
  width: 100%;
  height: 890px;
  font: 700 158px/0.9 "lemonmilk", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.075em;
  text-shadow: 8px 8px 10px #242424;
}

@media (max-width: 1439px) {
  .b-header__title {
    font-size: 138px;
  }
}

@media (max-width: 850px) {
  .b-header__title {
    font-size: 108px;
  }
}

@media (max-width: 580px) {
  .b-header__title {
    font-size: 68px;
  }
}

@media (max-width: 425px) {
  .b-header__title {
    height: 800px;
  }
}

@media (max-width: 400px) {
  .b-header__title {
    height: 670px;
    font-size: 58px;
  }
}

.b-header__title_decor {
  position: absolute;
  top: 25%;
  left: 10%;
  display: block;
  width: 60%;
  text-align: center;
}

@media (max-width: 1439px) {
  .b-header__title_decor {
    top: 20%;
    left: 1%;
    width: 80%;
  }
}

@media (max-width: 850px) {
  .b-header__title_decor {
    top: 15%;
    left: 0;
    width: 100%;
  }
}

.b-header__title_smaller {
  font-size: 96px;
  letter-spacing: 0.024em;
  line-height: 0.8;
  display: block;
}

@media (max-width: 1439px) {
  .b-header__title_smaller {
    font-size: 76px;
  }
}

@media (max-width: 850px) {
  .b-header__title_smaller {
    font-size: 46px;
  }
}

@media (max-width: 580px) {
  .b-header__title_smaller {
    font-size: 36px;
    line-height: 1.1;
  }
}

.b-header__linkImageContainer {
  height: 100%;
}

.b-header__linkImageContainer_position {
  position: relative;
}

.b-header_linkDecor {
  position: absolute;
  bottom: 30%;
  left: 26%;
  color: #242424;
  background-color: #fff;
  z-index: 5;
  -ms-flex-item-align: end;
      align-self: flex-end;
  text-align: center;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@media (max-width: 1000px) {
  .b-header_linkDecor {
    bottom: 43%;
    left: 15%;
  }
}

@media (max-width: 850px) {
  .b-header_linkDecor {
    bottom: 50%;
    left: 15%;
  }
}

@media (max-width: 630px) {
  .b-header_linkDecor {
    bottom: 58%;
    left: 10%;
  }
}

@media (max-width: 500px) {
  .b-header_linkDecor {
    bottom: 65%;
    left: 15%;
  }
}

.b-header_linkDecor:hover {
  color: #313131;
}

.b-header__image {
  position: absolute;
  bottom: 5%;
  right: 1%;
  z-index: 5;
  width: 730px;
  -webkit-filter: drop-shadow(8px 11px 62px #1a1919e0);
          filter: drop-shadow(8px 11px 62px #1a1919e0);
}

@media (max-width: 1439px) {
  .b-header__image {
    width: 50%;
  }
}

@media (max-width: 1200px) {
  .b-header__image {
    width: 60%;
  }
}

@media (max-width: 960px) {
  .b-header__image {
    width: 65%;
  }
}

@media (max-width: 870px) {
  .b-header__image {
    width: 70%;
  }
}

@media (max-width: 750px) {
  .b-header__image {
    width: 75%;
  }
}

@media (max-width: 600px) {
  .b-header__image {
    width: 80%;
  }
}

@media (max-width: 500px) {
  .b-header__image {
    width: 90%;
    bottom: 10%;
  }
}

.b-whoWeAre {
  position: relative;
  overflow: hidden;
  padding: 98px 0 86px 0;
  min-height: 576px;
  margin-top: -3px;
}

@media (max-width: 1227px) {
  .b-whoWeAre {
    padding: 48px 0 36px 0;
  }
}

.b-whoWeAre_disposition {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1227px) {
  .b-whoWeAre_disposition {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.b-whoWeAre__divContent {
  margin: 0 20px;
  min-height: 386px;
}

@media (max-width: 1227px) {
  .b-whoWeAre__divContent {
    min-height: 316px;
  }
}

.b-whoWeAre__divContent_disposition {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.b-whoWeAre__title_span {
  white-space: nowrap;
}

@media (max-width: 375px) {
  .b-whoWeAre__title {
    width: 60%;
    text-align: center;
    margin: 0 auto;
    line-height: 1.1;
  }
}

.b-whoWeAre__text {
  width: 500px;
}

@media (max-width: 618px) {
  .b-whoWeAre__text {
    width: 100%;
  }
}

@media (max-width: 425px) {
  .b-whoWeAre__text {
    margin: 15px 0;
  }
}

.b-whoWeAre__text_padding {
  padding: 15px 0 15px 16px;
}

.b-whoWeAre_linkDecor {
  background-color: #bc2e3a;
  color: #fff;
  margin-bottom: 28px;
}

@media (max-width: 1227px) {
  .b-whoWeAre_linkDecor {
    margin-bottom: 32px;
  }
}

.b-whoWeAre_linkDecor:hover {
  color: #b3b3b3;
}

.b-whoWeAre__image {
  width: 687px;
  height: 394px;
}

@media (max-width: 715px) {
  .b-whoWeAre__image {
    width: 100%;
    height: 100%;
    padding: 0 5px;
  }
}

.b-whoWeAre::after {
  border: 660px solid transparent;
  border-top-color: #171717;
  top: 0;
  right: -10%;
  z-index: -3;
}

.b-whatWeDo {
  position: relative;
}

.b-whatWeDo_decor {
  background-color: #f5f5f5;
  padding: 94px 0 115px 0;
}

@media (max-width: 1209px) {
  .b-whatWeDo_decor {
    padding: 74px 0 65px 0;
  }
}

@media (max-width: 425px) {
  .b-whatWeDo_decor {
    padding: 44px 0 35px 0;
  }
}

.b-whatWeDo__grid {
  display: -ms-grid;
  display: grid;
  grid-auto-rows: minmax(50px, auto);
  -ms-grid-columns: (minmax(400px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-row-gap: 80px;
  grid-column-gap: 5px;
}

@media (max-width: 810px) {
  .b-whatWeDo__grid {
    grid-row-gap: 30px;
  }
}

@media (max-width: 375px) {
  .b-whatWeDo__grid {
    -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

.b-whatWeDo__title {
  grid-column: 1/-1;
  text-align: center;
  margin-bottom: 30px;
}

@media (max-width: 1209px) {
  .b-whatWeDo__title {
    margin-bottom: 10px;
  }
}

@media (max-width: 425px) {
  .b-whatWeDo__title {
    width: 50%;
    margin: 0 auto;
    line-height: 1.1;
  }
}

.b-whatWeDo__gridItem {
  padding-left: 86px;
  margin: 0 10px;
  position: relative;
}

@media (max-width: 1209px) {
  .b-whatWeDo__gridItem {
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

@media (max-width: 800px) {
  .b-whatWeDo__gridItem {
    margin-left: calc(50% - 260px);
    margin-right: calc(50% - 260px);
  }
}

@media (max-width: 550px) {
  .b-whatWeDo__gridItem {
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media (max-width: 425px) {
  .b-whatWeDo__gridItem {
    padding: 74px 0 0 0;
  }
}

.b-whatWeDo__gridItem::before {
  content: "";
  display: inline-block;
  width: 73px;
  height: 73px;
  border-radius: 50%;
  background-image: url(../../../img/whatWeDo/icon01.png);
  background-color: #bc2e3a;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto;
  position: absolute;
  top: -10px;
  left: 0;
}

@media (max-width: 425px) {
  .b-whatWeDo__gridItem::before {
    left: calc(50% - 37px);
  }
}

.b-whatWeDo__gridItem:nth-child(3)::before {
  background-image: url(../../../img/whatWeDo/icon02.png);
}

.b-whatWeDo__gridItem:nth-child(4)::before {
  background-image: url(../../../img/whatWeDo/icon03.png);
}

.b-whatWeDo__gridItem:nth-child(5)::before {
  background-image: url(../../../img/whatWeDo/icon04.png);
}

.b-whatWeDo__gridItem:nth-child(6)::before {
  background-image: url(../../../img/whatWeDo/icon05.png);
}

.b-whatWeDo__gridItem:nth-child(7)::before {
  background-image: url(../../../img/whatWeDo/icon06.png);
}

.b-whatWeDo__gridItemText {
  width: 300px;
  padding-right: 10px;
}

@media (max-width: 810px) {
  .b-whatWeDo__gridItemText {
    width: 240px;
  }
}

@media (max-width: 800px) {
  .b-whatWeDo__gridItemText {
    width: 100%;
  }
}

.b-whatWeDo__gridItemTitle {
  font: 800 "open sans", sans-serif;
  font-size: 30px;
  line-height: 1.2;
  letter-spacing: -0.025em;
  color: #6f6f6e;
  margin-bottom: 20px;
}

.b-whatWeDo::after {
  border: 99px solid transparent;
  border-left-color: #bc2e3a;
  top: 40%;
  left: 0;
  z-index: 1;
}

@media (max-width: 1300px) {
  .b-whatWeDo::after {
    display: none;
  }
}

.b-howWeWorks {
  position: relative;
  overflow: hidden;
}

.b-howWeWorks_padding {
  padding: 125px 0 205px 0;
}

.b-howWeWorks_disposition {
  position: relative;
}

.b-howWeWorks__divContent {
  padding: 0 15px;
}

.b-howWeWorks__title {
  padding: 0 15px;
  margin-bottom: 67px;
}

.b-howWeWorks__text {
  width: 325px;
  margin-bottom: 55px;
}

.b-howWeWorks_linkDecor {
  background-color: #bc2e3a;
  color: #fff;
  margin-bottom: 13px;
}

.b-howWeWorks_linkDecor:hover {
  color: #b3b3b3;
}

.b-howWeWorks__slider {
  width: 1500px;
  height: 297px;
  overflow: hidden;
  -webkit-transform: skewX(-25deg);
          transform: skewX(-25deg);
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  position: absolute;
  top: 30%;
  left: 35%;
}

.b-howWeWorks__slide {
  position: relative;
  z-index: 10;
  overflow: hidden;
  width: 388px !important;
  height: 297px;
}

.b-howWeWorks__image {
  display: block;
  position: absolute;
  left: 50%;
  width: 135%;
  height: 100%;
  -webkit-transform: skewX(25deg) translateX(-50%);
          transform: skewX(25deg) translateX(-50%);
}
/*# sourceMappingURL=style.css.map */