.b-header {
  position: relative;
  height: 890px;
  background: url(#{$pathToImg}/header/img01.jpg) no-repeat center;
  background-blend-mode: multiply;
  background-size: cover;
  color: $colorWhite;

  &_disposition {
    position: relative;
    padding: 34px 0 0 0;
    display: flex;
    justify-content: space-between;
  }

  &__logotype {
    font: 900 43px/1.1 "lato-black", sans-serif;
    letter-spacing: -0.025em;
    align-items: flex-end;
    z-index: 5;
    @media (max-width: 1439px) {
      margin-left: 10px;
    }
  }
  &__burgerMenuIcon {
    color: $colorWhite;
    font-size: 36px;
    z-index: 10;
    position: absolute;
    top: 39px;
    right: 0;
    padding-right: 10px;
    display: none;
    @media (max-width: 620px) {
      display: block;
    }
  }

  &__mainNav {
    z-index: 5;
    text-transform: uppercase;
    font: 700 15px/1.2 "lato-bold", sans-serif;
    letter-spacing: 0.025em;
    @media (max-width: 1439px) {
      margin-right: 10px;
    }
    @media (max-width: 835px) {
      margin: 0 35px;
      line-height: 1.7;
    }

    &_disposition {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      @media (max-width: 835px) {
        flex-wrap: wrap;
        justify-content: space-evenly;
      }
      @media (max-width: 620px) {
        display: none !important;
      }
    }
  }
  &__navLink {
    color: inherit;
    &_fontAwesome {
      font-size: 20px;
    }
    &_margin {
      padding-left: 32px;
      @media (max-width: 835px) {
        padding-left: 0;
      }
    }
  }
  &__navLink:not(:last-child) {
    margin-right: 22px;
    @media (max-width: 835px) {
      margin-right: 37px;
    }
  }

  &__burgerMenu {
    position: absolute;
    top: 0;
    right: 0;
    min-height: 600px;
    min-width: 400px;
    padding: 10px;
    background-color: rgba(92, 92, 92, 0.747);
    z-index: 10;
    display: none;

    &_display {
      display: block;
    }
    &_flex {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    @media (min-width: 621px) {
      display: none !important;
    }
  }
  &__burgerMenuClose {
    color: $colorWhite;
    font-size: 40px;
    text-align: right;
  }
  &__burgerLink {
    color: inherit;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 2;
    margin: 12px 0;
  }


  &__title {
    position: absolute;
    top: 0;
    background-color: $colorBackground;
    mix-blend-mode: multiply;
    color: #fff;
    width: 100%;
    height: 100%;
    font: 700 158px/0.9 "lemonmilk", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.075em;
    text-shadow: 8px 8px 10px $colorHeaderButton;
    @media (max-width: 452px) {
    }
    &_decor {
      padding: 250px 0 0 0;
      display: block;
      width: 798px;
      text-align: center;
      margin-left: calc(36% - 400px);
    }
    &_smaller {
      font-size: 96px;
      letter-spacing: 0.024em;
      line-height: 0.8;
      display: block;
    }
  }

  &__linkImageContainer {
    // height: 100%;
    &_position {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-items: center;
    }
  }

  &_linkDecor {
    // position: absolute;
    // bottom: 20%;
    // left: 25%;
    color: $colorHeaderButton;
    background-color: $colorWhite;
    z-index: 5;
    align-self: flex-end;
    text-align: center;

    margin: 0 50px 200px 350px;
  }

  &__image {
    // position: absolute;
    // bottom: -7%;
    // right: 12%;
    padding-top: 30px;
    z-index: 5;
    height: 816px;
    object-fit: cover;
    object-position: center center;
    filter: drop-shadow(8px 11px 62px #231f20cf);
  }
}
