body.lock {
  @media (max-width: 850px) {
    overflow: hidden;
  }
}
.b-header {
  position: relative;
  z-index: 1;
  height: 920px;
  color: $colorWhite;
  background-blend-mode: multiply;
  @media (max-width: 440px) {
    height: 800px;
  }
  @media (max-width: 400px) {
    height: 670px;
  }

  &__wrap {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
  }

  &__wrap::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: darken($colorBackground, 15%);
    z-index: 7;
  }

  &__mainNav {
    height: 80px;
    @extend %flexSpaceBetween;
    align-items: center;
    @media (max-width: 850px) {
      height: 70px;
    }
  }

  &__logotype {
    font: 900 43px/1 $fontLogotype;
    letter-spacing: -0.025em;
    align-items: flex-end;
    position: relative;
    z-index: 10;
    @media (max-width: 850px) {
      font: 900 33px/1.1 $fontLogotype;
    }
  }

  &__burger {
    display: none;
    @media (max-width: 850px) {
      display: block;
      position: relative;
      width: 30px;
      height: 23px;
      z-index: 10;
    }
  }

  &__burger::before {
    transition: all 0.3s ease 0s;
    @extend %burger;
    top: 0;
  }
  &__burger::after {
    transition: all 0.3s ease 0s;
    @extend %burger;
    bottom: 0;
  }
  &__burger.active::before {
    transform: rotate(45deg);
    top: 10px;
  }
  &__burger.active::after {
    transform: rotate(-45deg);
    bottom: 10px;
  }
  &__burger.active .b-header__burgerSpan {
    transform: scale(0);
  }
  &__burgerSpan {
    @media (max-width: 850px) {
      position: absolute;
      z-index: 11;
      background-color: $colorWhite;
      display: inline-block;
      width: 100%;
      height: 3px;
      left: 0;
      top: 10px;
      transition: all 0.3s ease 0s;
    }
  }
  &__menu {
    transition: all 0.6s ease 0s;
    @media (max-width: 850px) {
      position: fixed;
      width: 100%;
      height: 100%;
      top: -100%;
      left: 0;
      background-color: $colorSectionTitle;
      padding: 100px 0 0 0;
      overflow: auto;
    }
  }
  &__menu.active {
    top: 0;
  }
  &__navbar {
    position: relative;
    z-index: 15;
    @extend %flexSpaceBetween;
    align-items: flex-end;
    text-transform: uppercase;
    font: 700 15px/1.2 $fontMainNav;
    letter-spacing: 0.025em;
    @media (max-width: 850px) {
      flex-direction: column;
      align-items: center;
    }
  }
  &__navItem {
    margin: 0 0 0 20px;
    @media (max-width: 850px) {
      margin: 0 0 20px 0;
    }
  }
  &__navLink {
    position: relative;
    color: inherit;
    margin: 0 0 3px 6px;
    @media (max-width: 991px) {
      margin: 10px 0;
    }
    &_fontAwesome {
      font-size: 20px;
    }
    &_fontAwesomeMargin {
      margin-left: 40px;
      @media (max-width: 850px) {
        margin-left: 0;
      }
    }
  }

  &__navLink:hover {
    color: $colorWhite;
    padding-bottom: 6px;
    border-bottom: 1px solid $colorWhite;
  }
  &__navLinkSearch {
    position: relative;
  }
  &__input {
    padding: 10px 15px;
    position: absolute;
    bottom: -64px;
    right: 10px;
    border: none;
    outline: none;
    border-radius: 2px;
    @media (max-width: 850px) {
      right: calc(50% - 100px);
      bottom: -36px;
    }
  }

  &__input::placeholder {
    color: $colorHeaderButton;
    font: 400 16px $fontSectionText;
  }

  &__title_position {
    position: relative;
    height: 100%;
  }
  &__title {
    position: absolute;
    top: 0;
    z-index: 1;
    background-color: $colorBackground;
    mix-blend-mode: multiply;
    width: 100%;
    height: 920px;
    font: 700 158px/0.9 $fontHeaderTitle;
    text-transform: uppercase;
    letter-spacing: 0.075em;
    text-shadow: 8px 8px 10px $colorHeaderButton;

    @media (max-width: 1439px) {
      font-size: 138px;
    }

    @media (max-width: 850px) {
      font-size: 108px;
    }

    @media (max-width: 580px) {
      font-size: 68px;
    }

    @media (max-width: 440px) {
      height: 800px;
    }

    @media (max-width: 400px) {
      height: 670px;
      font-size: 58px;
    }

    &_decor {
      display: block;
      position: absolute;
      top: 230px;
      left: 3%;
      max-width: 800px;
      text-align: center;
      transition-duration: 1.5s;

      @media (max-width: 1439px) {
        left: 0;
        width: 80%;
      }

      @media (max-width: 850px) {
        top: 15%;
        left: 0;
        width: 100%;
      }
    }

    &_smaller {
      display: block;
      font-size: 96px;
      letter-spacing: 0.024em;
      line-height: 0.8;
      @media (max-width: 1439px) {
        font-size: 76px;
      }

      @media (max-width: 850px) {
        font-size: 46px;
      }

      @media (max-width: 580px) {
        font-size: 36px;
        line-height: 1.1;
      }
    }
  }
  &__linkImageContainer {
    height: 100%;
    &_position {
      position: relative;
    }
  }
  &_linkDecor {
    position: absolute;
    bottom: calc(10% + 5vh);
    left: calc(12% + 10vw);
    color: $colorHeaderButton;
    background-color: $colorWhite;
    z-index: 5;
    align-self: flex-end;
    text-align: center;
    animation-duration: 1s;

    @media (max-width: 1439px) {
      bottom: calc(10% + 10vw);
      left: calc(10% + 10vw);
    }

    @media (max-width: 930px) {
      bottom: calc(10% + 10vw);
      left: calc(5% + 10vw);
    }

    @media (max-width: 850px) {
      bottom: calc(25% + 22vw);
      left: calc(4% + 3vw);
    }

    @media (max-width: 580px) {
      bottom: calc(41% + 25vw);
    }
    @media (max-width: 400px) {
      bottom: calc(38% + 25vw);
    }
  }

  &_linkDecor:hover {
    color: $colorHeaderButton;
  }
  &__imageDiv {
    max-width: calc(340px + 20vw);
    position: absolute;
    bottom: -2%;
    right: 1%;
    z-index: 5;
    @media (max-width: 1250px) {
      bottom: -1%;
    }
    @media (max-width: 450px) {
      max-width: calc(300px + 20vw);
    }
    @media (max-width: 400px) {
      max-width: calc(260px + 10vw);
    }
  }
  &__image {
    width: 100%;
    @extend %imgObject;
    filter: drop-shadow(8px 11px 62px $imgDropShadow);
  }
}
