.b-howWeWorks {
  overflow: hidden;
  &_padding {
    padding: 125px 0 205px 0;
    @media (max-width: 1000px) {
      padding: 55px 0 65px 0;
    }
  }
  &_disposition {
    position: relative;
  }
  &__divContent {
    max-width: 325px;
    padding: 0 15px;
    @media (max-width: 1000px) {
      max-width: none;
      padding: 0 30px;
      text-align: center;
    }
  }
  &__title {
    padding: 0 15px;
    margin-bottom: 67px;
    @media (max-width: 1000px) {
      margin-bottom: 37px;
      text-align: center;
    }
  }
  &__text {
    max-width: 100%;
    margin-bottom: 55px;
  }

  &_linkDecor {
    background-color: $colorBackground;
    color: $colorWhite;
    margin-bottom: 13px;
  }
  &_linkDecor:hover {
    color: darken($colorWhite, 30%);
  }
  &__slider {
    width: 1500px;
    height: 297px;
    overflow: hidden;
    transform: skewX(-25deg);
    transition: all 0.15s;
    position: absolute;
    top: 30%;
    left: 35%;
    @media (max-width: 1000px) {
      display: none;
    }
  }
  &__slide {
    position: relative;
    z-index: 10;
    overflow: hidden;
    width: 388px !important;
    height: 100%;
  }
  &__image {
    display: block;
    @extend %imgObject;
    position: absolute;
    left: 50%;
    width: 135%;
    height: 100%;
    transform: skewX(25deg) translateX(-50%);
  }
}
