.b-whoWeAre {
  position: relative;
  overflow: hidden;
  padding: 98px 0 86px 0;
  min-height: 576px;
  &_disposition {
    @extend %flexSpaceBetween;
  }
  &__divContent {
    width: 500px;
    min-height: 386px;
    &_disposition {
      @extend %flexSpaceBetween;
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &__text {
    &_padding {
      padding-left: 16px;
    }
  }
  &_linkDecor {
    background-color: $colorBackground;
    color: $colorWhite;
    margin-bottom: 28px;
  }
  &_linkDecor:hover {
    color: darken($colorWhite, 30%);
  }
  &__image {
    @extend %imgObject;
  }
}

.b-whoWeAre::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: 660px solid transparent;
  border-top-color: $colorBackDelta;
  position: absolute;
  top: 0;
  right: -140px;
  z-index: -3;
}
