body {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
h1 {
  margin: 0;
}
li {
  list-style: none;
}
.headerContainer {
  max-width: 1440px;
  margin: 0 auto;
}


.buttonLink {
  padding: 16px 33px;
  border-radius: 50px;
  font: 700 21px/1.2 "lato-bold", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  @media (max-width: 425px) {
    padding: 12px 20px;
    font: 700 16px/1.0 "lato-bold", sans-serif;
  }
}
