* {
  min-height: 0;
  min-width: 0;
}
body {
  box-sizing: border-box;
  min-height: 100vh;
}

a {
  text-decoration: none;
}
h1, h2, p {
  margin: 0;
}
li {
  list-style: none;
}
.headerContainer {
  max-width: 1440px;
  margin: 0 auto;
}
.mainContainer {
  max-width: 1228px;
  margin: 0 auto;
}

.buttonLink {
  @extend %buttonLink;
  @media (max-width: 425px) {
    padding: 12px 20px;
    font: 700 16px/1 "lato-bold", sans-serif;
  }
}

.sectionTitle {
  font: 400 62px/0.9 $fontSectionTitle;
  color: $colorSectionTitle;
  @media (max-width: 425px) {
    font: 400 50px/0.9 $fontSectionTitle;
  }
}

.sectionText {
  font: 400 17px $fontSectionText;
  line-height: 30px;
  color: $colorSectionText;
}
