.b-header {
  max-width: 100%;

  background: url(../img/header/img01.jpg) no-repeat center;
  background-size: cover;
}
.b-whatWeDo__gridItem::before {
  background-image: url(../img/whatWeDo/icon01.png);
}
.b-whatWeDo__gridItem::before {
  background-image: url(../img/whatWeDo/icon01.png);
}

.b-whatWeDo__gridItem:nth-child(3)::before {
  background-image: url(../img/whatWeDo/icon02.png);
}
.b-whatWeDo__gridItem:nth-child(4)::before {
  background-image: url(../img/whatWeDo/icon03.png);
}
.b-whatWeDo__gridItem:nth-child(5)::before {
  background-image: url(../img/whatWeDo/icon04.png);
}
.b-whatWeDo__gridItem:nth-child(6)::before {
  background-image: url(../img/whatWeDo/icon05.png);
}

.b-whatWeDo__gridItem:nth-child(7)::before {
  background-image: url(../img/whatWeDo/icon06.png);
}

.b-getInTouch_decor {
  background: url(../img/getInTouch/img01.jpg) #171717 no-repeat center;
}

.b-getInTouch__gridItem::before {
  background-image: url(../img/getInTouch/icon01.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.b-getInTouch__gridItem:nth-child(2)::before {
  background: url(../img/getInTouch/icon02.png) no-repeat center;
}
.b-getInTouch__gridItem:nth-child(3)::before {
  background: url(../img/getInTouch/icon03.png) no-repeat center;
}